<footer class="footer">
  <div class="footer__top">
    <div class="container">
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-container container">
      <p class="footer__copyright">© ООО "Стоматологическая клиника Атмосфера" © 2021</p>
      <div class="footer__cards">
        <span>Принимаем к оплате:</span>
        <img src="img/footer-card.png" width="244" height="25" alt="Платежные системы">
      </div>
      <div class="footer_developer">
        <p>Создание сайта</p>
        <a href="#">Стартап-студия Pushkin</a>
      </div>
    </div>
  </div>
</footer>
