<footer class="footer">
  <div class="footer__top">
    <div class="container footer__top-container">
      <div class="footer__left">
        <a class="footer__logo" href="#">
        </a>
        <p>Атмосфера - это клиника семейной стоматологии в&nbsp;г. Рязань. Открыв двери для наших посетителей зимой 2021
          года, мы принимали сотни посетителей ежедневно. В настоящий момент мы&nbsp;так же осуществляем врачебную и
          диагностическую деятельность в городе Рязань</p>
        <p>Лицензия № ЛО-62-01-001281</p>
        <a href="#" class="footer__more button button--transparent">Узнать о компании больше</a>
      </div>
      <div class="footer__middle">
        <div class="footer__middle-item">
          <a href="tel:+79156207341" class="footer__middle-title">+7 (915) 620-73-41</a>
          <div class="footer__middle-links">
            <a href="#">Заказать звонок</a>
            <a href="#">Записаться по WhatsApp</a>
          </div>
        </div>
        <div class="footer__middle-item">
          <p class="footer__middle-title">Цветной бульвар, д. 10</p>
          <div class="footer__middle-links">
            <a href="#">Яндекс.Карты</a>
            <a href="#">Схема проезда</a>
          </div>
        </div>
        <div class="footer__middle-item">
          <p class="footer__middle-title">09:00 – 18:00</p>
          <span>Без выходных</span>
        </div>
        <ul class="footer__social">
          <li><a href="#">
          </a></li>
          <li><a href="#">

          </a></li>
        </ul>

      </div>
      <div class="footer__right">
        <b>Онлайн-запись</b>
        <p>Записыватесь на прием прямо сейчас. Через онлайн форму на нашем сайте</p>
        <a href="#" class="button">Записаться на прием</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-container container">
      <p class="footer__copyright">© ООО "Стоматологическая клиника Атмосфера" © 2021</p>
      <div class="footer__cards">
        <span>Принимаем к оплате:</span>
        <img src="img/footer-card.png" width="244" height="25" alt="Платежные системы">
      </div>
      <div class="footer_developer">
        <p>Создание сайта</p>
        <a href="#">Стартап-студия Pushkin</a>
      </div>
    </div>
  </div>
</footer>
