<div class="modal" id="modal-phone">
  <div class="modal__content modal__content--form">
    <button class="modal__close-btn" type="button" aria-label="Закрыть">
    </button>
    <div class="modal__body">
      <div class="modal-form">
        <div class="modal-form__content">
          <p class="modal__title">Запишитесь на прием</p>
          <p class="modal__text">Заполните простую форму ниже* или позвоните по телефону <a href="tel:+79156207341">+7 495 150-81-00</a></p>
        </div>
        <form class="form form--modal modal-form__form" action="#" method="POST">
          <input type="text" name="user_name" placeholder="Как вас зовут?">
          <input type="tel" name="user_phone" placeholder="Номер телефона">
          <button type="submit" class="button">Отправить</button>
          <p class="form__privacy">Нажимая "отправить", Вы выражаете согласие с политикой обработки персональных данных.</p>
        </form>
      </div>
    </div>
  </div>
</div>
