<section class="popup" style="display: none">
    <div class="popup__container">
        <h2>Оставьте ваш отзыв</h2>
        <p class="popup__description">Вы можете отставить отзыв о посещении нашей клиники</p>
        <form action="#" class="popup__form">
            <div>
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="tel" name="phone" placeholder="Номер телефона" required>
                <textarea name="message" id="message" placeholder="Ваш отзыв"></textarea>
                <p>Нажимаю на кнопку отправить, вы автоматически соглашаетесь с <a href="#">политикой обработки персональных данных </a></p>
                <button class="button button--blue">Отправить</button>
            </div>
        </form>
    </div>
</section>