.about-job {
    background-color: #FFF5F5;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 38px;

    & h2 {
        max-width: 620px;
        margin-bottom: 20px;
    }
}

.about-job__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    & img {
        max-width: 50%;
        width: 100%;
        margin-right: -55px;
        margin-top: -200px;
        align-self: center;
    }
}

.about-job__content {
    max-width: 585px;
    width: 100%;

    & p {
        margin-top: 0;
        line-height: 24px;

        color: #5C5757;
        margin-right: 20px;
    }
}