.about-cert {
    padding-top: 60px;
    padding-bottom: 90px;

    & h2 {
        margin-bottom: 20px;
    }

    & p {
        line-height: 24px;
        color: #5C5757;
        max-width: 585px;
    }
}