.arrow-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  text-decoration: none;

  & span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    border-bottom: 1px solid transparent;

    @media(max-width: 1024px) {
      font-size: 18px;
      line-height: 120%;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:hover span {

    border-bottom: 1px solid #ffffff;
  }
}

.price-list__item--white {
  .arrow-btn {

    & span {
      color: #3D3B3B;
      border-bottom: 1px solid transparent;
    }

    &:hover {}

    &:hover span {
      color: #EA97AD;
      border-bottom: 1px solid #EA97AD;
    }
  }

}
