.diag-price {
  background: #5F8F96;
  padding: 60px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media(max-width: 767px) {
      flex-direction: column;
    }
   }

  &__title-container {
    position: relative;
  }

  &__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    min-width: 350px;
    max-width: 350px;

    color: #FFFFFF;
    margin: 0;


    @media(max-width: 1024px) {
      font-size: 24px;
      line-height: 120%;
    }

    @media(max-width: 550px) {
      min-width: 250px;
      max-width: 250px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 58.5%;
    padding-top: 14px;
    max-width: 58.5%;

    @media(max-width: 767px) {
      width: 100%;
      max-width: 100%;
    }
  }

  & h3 {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding-left: 16px;
    margin-top: 26px;
    margin-bottom: 10px;
    color: #FFFFFF;

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: #ffffff;
      border-radius: 50%;
      left: 0;
      top: 8px;
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }

  & li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    padding-bottom: 6px;
    margin-bottom: 12px;

    & a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      margin-right: 10px;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
        opacity: 1;
      }
    }
  }

  & p {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height, or 115% */

    color: #FFFFFF;
    white-space: nowrap;

    @media(max-width: 767px) {
      font-size: 18px;
      line-height: 120%;
    }
  }

  & b {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #FFFFFF;
    opacity: 0.5;
    position: relative;
    margin-right: 8px;
    margin-top: 2px;

    &::after {
      content: '';
      position: absolute;
      background: url("../img/line-through.svg") no-repeat;
      z-index: 5;
      width: 36px;
      height: 20px;
      display: block;
      top: 5px;
    }
  }

  &__discount {
    display: flex;

  }

  &__see-all {
    margin-top: 30px;
    max-width: 260px;
  }
}

.price-list__item--white {
  .diag-price {
    background: #ffffff;

    &__title {
      color: #3D3B3B;
    }

    & li {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.4);

      & a {
        color: #3D3B3B;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #EA97AD;
          color: #EA97AD;
          opacity: 1;
        }
      }
    }

    & p {
      color: #3D3B3B;
    }

    & b {
      color: #898989;

      &::after {
        content: '';
        position: absolute;
        background: url("../img/line-through-white.svg") no-repeat;
      }
    }

    & h3 {
      color: #3D3B3B;

      &::before {
        background: #3D3B3B;
      }
    }
  }
}
