.footer {
  background: #242424;

  &__bottom {
    background: #242424;
    padding: 22px;

    & p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* or 157% */

      color: #898989;
    }

    & span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */

      color: #FFFFFF;
      margin-bottom: 7px;
    }

    & a {
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */

      color: #FFFFFF;
      transition: 0.2s;

      &:hover {
        transition: 0.2s;
        opacity: 0.7;
      }
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }

  &__copyright {
    max-width: 234px;

    @media(max-width: 767px) {
      max-width: none;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    max-width: 244px;

    @media(max-width: 767px) {
      max-width: none;
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }

  &__developer {
    display: flex;
    flex-direction: column;
    max-width: 166px;

    @media(max-width: 767px) {
      max-width: none;
    }
  }


  &__top {
    background-color: #2D2D2D;
    padding-top: 60px;
    padding-bottom: 40px;

  }

  &__top-container {
    display: flex;

    position: relative;

    &::after {
      content: "";
      width: 250px;
      height: 400px;
      position: absolute;
      right: -40px;
      top: -75px;
      z-index: 10;
      background: url("../img/footer-phone.png") no-repeat;

      @media(max-width: 1349px) {
        content: none;
      }
    }

    @media(max-width: 1100px) {
      flex-wrap: wrap;
    }

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-right: 6%;

    @media(max-width: 1100px) {
      width: 50%;
    }

    @media(max-width: 767px) {
      width: 100%;
    }

    & p {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */

      color: #898989;
      margin-bottom: 5px;
    }
  }

  &__logo {
    margin-bottom: 12px;
    background: url("../img/footer-logo.svg") no-repeat;
    width: 300px;
    height: 54px;
  }

  &__more {
    margin-top: 20px;
  }

  &__right {
    width: 40%;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 13.5%;

    @media(max-width: 1100px) {
      width: 100%;
      padding-left: 0;
      border: none;
    }

    & b {
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
      color: #FFFFFF;

    }

    & p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
      color: #FFFFFF;
      margin-bottom: 45px;
    }

  }

  &__middle {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 1.8%;

    @media(max-width: 1100px) {
      width: 50%;
    }

    @media(max-width: 767px) {
      width: 100%;
    }
  }

  &__middle-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    & span {
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;

      color: #FFFFFF;

      opacity: 0.3;

    }
  }

  &__middle-links {
    display: flex;

    & a {
      text-decoration: none;
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 18px;

      color: #FFFFFF;
      border-bottom: 1px dotted #9A9696;

      &:first-child {
        margin-right: 8%;
      }
    }
  }

  &__middle-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 12px;

    & li {

      & a {
        padding: 12px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        display: block;
        width: 55px;
        height: 59px;

        background: url("../img/footer-social-vk.svg") no-repeat center;

        &:first-child {
          margin-right: 10px;
        }
      }

      &:first-child {
        a {
            background: url("../img/footer-social-insta.svg") no-repeat center;
        }
      }
    }
  }


}

